body{
  line-height: 1.5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #e2cbf0;
}
.container{
  text-align: center;
  padding:20px;
  width:80%;
  
}
h1{
  color:#333;
  text-align:center;
}

#task-form button{
  
  padding: 10px 20px;
  font-size:16px;
  border-radius:40px;
  cursor:pointer;
}
#task-form{
  margin-bottom:20px;
  gap:20px;
  display:flex;
  
}
#task-form input {
  border-radius: 40px;
}
#priority{
  border-radius:40px;
}
.button{
  background-color:#4CAF50;
  color:#fff;
}
.button:hover{
  background-color:red;
}
.name{
  color:red;
  font-size:1em;
  
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
